@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Maven Pro', sans-serif;
}

@theme {
  --color-primary: #0f9b6e;
  --color-grey: #f5f5f5;

  --color-brand-light: #3eb992;
  --color-brand: #0f9b6e;
  --color-brand-dark: #0b7a56;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #a7a7a7;
    border-radius: 5px;
  }
}
